@model Spice.Models.ShoppingCart
@using Spice.Extensions

@{
    ViewData["Title"] = "Menu Item Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*<br />
    <h2 class="text-info">Item Details</h2>
    <br />*@

    <form method="post" asp-action="Edit">
        <div class="border backgroundWhite row">
            <input type="hidden" asp-for="MenuItemId" />
            <div asp-validation-summary="ModelOnly" class="text-dange"></div>
            <div class="col-5">
                    <h1 class="display-4">@Model.MenuItem.Name</h1>
                    <p class="lead">
                        @Html.Raw(Model.MenuItem.Description)
                    </p>
                    <hr class="my-4">
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
                    <p class="price">£ @Model.MenuItem.Price</p> 
                    
                    <p class="lead">
                        <a asp-action="Index" class="btn btn-primary btn-lg">Back to List</a>
                        <button type="submit" value="Add to Cart" class="btn btn-primary btn-lg">Add to Cart</button>
                    </p>
            </div>
            <div class="col-6">
                <img src="@Model.MenuItem.Image" alt="@Model.MenuItem.Name" width="550px" height="600px" />
            </div>
        </div>

        @*<img src="@Model.MenuItem.Image" class="mx-auto d-block">*@ 
    </form>

@section Scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}