@model IEnumerable<MenuItem>

@if (Model.Count() > 0)
{
    <div class="overflow-hiddentext-center bg-light post @Model.FirstOrDefault().Category.Name.Replace(" ",string.Empty) menu-restaurant">
        <div class="col-md-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">@Model.FirstOrDefault().Category.Name</h1>
        </div>


        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top product-cap-size" src="@item.Image" alt="Card image cap">

                        <div class="card-body">
                            <p class="card-text">@Html.Raw(item.Description)</p>
                            <h1 class="card-title pricing-card-title"><small class="text-muted">Price : </small>$@item.Price </h1>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group p-3">
                                    @*<button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>*@
                                    <a asp-action="Details" class="btn btn-lg btn-primary form-control" asp-route-id="@item.Id">Add to Basket</a>

                                </div>
                                @*<small class="text-muted">9 mins</small>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

